body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background: #fafafa;
  font-size: 18px;
}

img {
  max-width: 100%;
}

a {
  color: #0060df;
}

h1, h2, strong {
  color: #111;
}

.calibreMeta {
  background-color:#AAAAAA;
  padding: 5px;
}

.calibreEbookContent {
  padding: 10px;
}

.calibreEbookContent p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

.calibreEbNav, .calibreEbNavTop {
  clear: both;
  background-color: #AAAAAA;
  padding: 10px;
  text-align: center;
}

.calibreEbNavTop {
  margin-bottom: 20px;
}

.calibreEbNav a, .calibreEbNavTop a {
  padding: 0px 30px;
}
